Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Attach
PointerAlignment: Left
ReferenceAlignment: Left
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true
DerivePointerAlignment: false
NamespaceIndentation: None
AccessModifierOffset: -1
IndentCaseLabels: true
IndentGotoLabels: true
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
ReflowComments: true
FixNamespaceComments: true
AlignAfterOpenBracket: Align
Cpp11BracedListStyle: true
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4
SpaceAfterCStyleCast: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false
EmptyLineBeforeAccessModifier: LogicalBlock
EmptyLineAfterAccessModifier: Never
Standard: c++20
